:host {
  display: block;
  border: 1px solid grey;
  padding: 12px 0 12px 12px;
  margin-top: 12px;
  border-radius: 6px;
}

.task-indicator {
  display: inline-block;
  width: calc(100% - 37px);
}

.priority-indicator {
  display: inline-block;
  width: 12px;
  padding: 12px;
  margin: -12px 0;
  border-left: 1px dotted black;
}
